text.hour {
  font-size: 7px;
  font-family: sans-serif;
  text-anchor: middle;
  alignment-baseline: central;
  dominant-baseline: central;
}
line.hour-hand {
    stroke: black;
    stroke-width: 4;
    stroke-linecap: round;
}
line.minute-hand {
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
}
svg {
    width: 95vmin;
    height: 95vmin;

    display: block;
    margin: auto;
}

#log {
  display: none;
}

/* Facebook Share button styling, moved here from the HTML code. */
iframe#fb {
  scrolling: no;
  frameborder: 0;
  allowtransparency: true;
  border: none;
  overflow: hidden;
}
