text {
  text-anchor: middle;
  alignment-baseline: central;
  dominant-baseline: central;
}
text.hour {
  font-size: 8px;
  font-family: sans-serif;
}
text.wind {
  color: black;
  font-size: 5px;
  font-family: serif;
}
rect#wind-rect {
  fill: #eee;
}
line.hand {
    stroke: black;
    stroke-linecap: square;
}
line.shadow {
    stroke: black;
    stroke-opacity: 0.1;
}
circle.shadow {
    fill: black;
    opacity: 0.1;
}
svg {
    width: 95vmin;
    height: 95vmin;

    display: block;
    margin: auto;
}

/* Facebook Share button styling, moved here from the HTML code. */
iframe {
  scrolling: no;
  frameborder: 0;
  allowtransparency: true;
  border: none;
  overflow: hidden;
}
