text.hour {
  font-size: 7px;
  font-family: sans-serif;
  text-anchor: middle;
  alignment-baseline: central;
  dominant-baseline: central;
}
line.hour-hand {
    stroke: black;
    stroke-width: 4;
    stroke-linecap: round;
}
line.minute-hand {
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
}
svg {
    position: fixed;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}
