.ClockAndButtons {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  margin: auto;
}

/* Media query for landscape mode */
@media (orientation: landscape) {
  .ClockAndButtons {
    flex-direction: row;
  }

  .buttons, .timeSelect {
    height: fit-content;
  }
}

@media (orientation: portrait) {
  .ClockAndButtons {
    flex-direction: column;
  }

  .buttons, .timeSelect {
    width: fit-content;
  }

  .timeSelect {
    position: absolute;
    right: 0px;
  }
}
