.ClockAndButtons {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  margin: auto;
}

@media (orientation: landscape) {
  .ClockAndButtons {
    flex-direction: row;
  }

  .updateButton,
  .timeSelect {
    height: fit-content;
  }

  .updateButton {
    order: 1;

    position: absolute;
    bottom: 0px;
  }

  .clockSvg {
    order: 2;
  }

  .timeSelect {
    order: 3;

    position: absolute;
    right: 0px;
  }
}

@media (orientation: portrait) {
  .ClockAndButtons {
    flex-direction: column;
  }

  .updateButton,
  .timeSelect {
    width: fit-content;
  }

  .timeSelect {
    position: absolute;
    right: 0px;
  }
}
