svg {
  /* See App.css for which area we're filling */
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;

  display: block;
  margin: auto;
}

text.progress {
  font-size: 8px;
  text-anchor: middle;
  alignment-baseline: central;
  dominant-baseline: central;
}

text.tomorrow {
  text-anchor: middle;
  dominant-baseline: central;

  fill: darkred; /* This is the text color in SVG */
  opacity: 0.2;
  font-family: serif;
  font-size: 1.55em;
  transform: rotate(-60deg);

  /*
  Outline the text so it's visible on the outside of the clock even in dark
  mode.

  From: https://stackoverflow.com/a/55097644/473672
  */
  stroke: white;
  stroke-width: 0.1em;
  stroke-linejoin: round;
  paint-order: stroke;
}
