svg {
    width: 95vmin;
    height: 95vmin;

    display: block;
    margin: auto;
}

text.progress {
    font-size: 8px;
    text-anchor: middle;
    alignment-baseline: central;
    dominant-baseline: central;
}

/* FIXME: Maybe a rubberstamp effect like this one? https://codepen.io/555/pen/pdwvBP */
text.tomorrow {
    text-anchor: middle;
    alignment-baseline: central;
    dominant-baseline: central;

    fill: darkred;  /* This is the text color in SVG */
    font-family: serif;

    transform: rotate(-60deg) scale(1.55);
    opacity: 0.2;
}

body {
    margin: 8px
}

div.controlsContainer {
    background: lightblue;
}

.control {
    margin: 1em;
}