svg {
    width: 95vmin;
    height: 95vmin;

    display: block;
    margin: auto;
}

text {
    font-size: 8px;
    text-anchor: middle;
    alignment-baseline: central;
    dominant-baseline: central;
}
