@media (max-width: 25em) {
  .main-toolbar-title {
    display: none;
  }
  .main-toolbar-actions {
    margin-left: auto;
  }
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-toolbar-actions {
  display: flex;
  align-items: center;
}

.main-toolbar-refresh {
  margin-right: 16px;
}

.main-toolbar-select {
  min-width: 120px;
  margin-right: 16px;
}
